<h1>Counter</h1>
<section>
    <h2>Controls</h2>
    <button type="button" (click)="onClicked(1)">+1</button>
    <button type="button" (click)="onClicked(10)">+10</button>
    <button type="button" (click)="onClicked(100)">+100</button>
    <button type="button" (click)="onClicked()">Reset</button>
    <button type="button" (click)="onClicked(-1)">-1</button>
    <button type="button" (click)="onClicked(-10)">-10</button>
    <button type="button" (click)="onClicked(-100)">-100</button>
</section>
<section>
    <h2>Value</h2>
    {{value}}
</section>